<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiS5UvMH5F4IngxvgMr6XrotSVjq8mMKE</string>
	<key>GCM_SENDER_ID</key>
	<string>778715692012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MoneyStory</string>
	<key>PROJECT_ID</key>
	<string>casteluke-internal-services</string>
	<key>STORAGE_BUCKET</key>
	<string>casteluke-internal-services.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778715692012:ios:f6959c64d004cbec3d5ec9</string>
</dict>
</plist>